.khaus_error {
  padding: 20px;
  width: 600px;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 15px;
  color: gray;
}
.khaus_error legend {
  font-weight: bold;
}
.khaus_error legend b {
  color: red;
}
